Repository snowdreamtech/template: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, markdownlint-cli2, prettier, eslint, actionlint, ansible-lint, hadolint

yamllint:
  name: yamllint
  language: system
  entry: yamllint
  args:
  - --config-file
  - .yamllint.yml

markdownlint-cli2:
  name: markdownlint-cli2
  language: system
  entry: markdownlint-cli2
  args:
  - --fix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

eslint:
  name: eslint
  language: system
  entry: eslint
  args:
  - --fix

actionlint:
  name: actionlint
  language: system
  entry: actionlint
  pass_filenames: false

ansible-lint:
  name: ansible-lint
  language: system
  entry: ansible-lint
  pass_filenames: false

hadolint:
  name: hadolint
  language: system
  entry: hadolint

feat: Add cspell configuration file with common development words and ignore paths.
  .cspell.json
Due: prettier

chore: Add common lock files, text files, and config directories to cspell ignore paths.
  .cspell.json
Due: prettier

chore(lint): add project-specific dictionary to prevent spell check failures
  .agent/rules/02-coding-style.md
  .cspell.json
Due: markdownlint-cli2, prettier

feat(lint): add vue support to triple guarantee pipeline
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, prettier, actionlint, ansible-lint

feat(lint): add react and explicitly cover js/ts support in triple guarantee pipeline
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, prettier, actionlint, ansible-lint

docs(rules): enforce AI agents to proactively use linting/formatting tools based on CI/pre-commit specs
  .agent/rules/09-ai-interaction.md
Due: markdownlint-cli2

feat(security): enforce gitleaks secret scanning in local pre-commit hooks
  .agent/workflows/snowdreamtech.init.md
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, ansible-lint

feat(lint): add go support (golangci-lint) to triple guarantee pipeline
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, actionlint, ansible-lint

feat(lint): add rust support (rustfmt/clippy) to triple guarantee pipeline
  .agent/rules/09-ai-interaction.md
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, actionlint, ansible-lint

feat(lint): add python support (ruff) to triple guarantee pipeline
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, actionlint, ansible-lint

feat(lint): add dart/flutter support to triple guarantee pipeline
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, actionlint, ansible-lint

feat(lint): add apple ecosystem support (swift/obj-c) to triple guarantee pipeline
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, actionlint, ansible-lint

feat(lint): add android ecosystem support (kotlin/java) to triple guarantee pipeline
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, actionlint, ansible-lint

fix(ci): correct shell grouping in clang-format find check
  .github/workflows/lint.yml
Due: yamllint, prettier, actionlint, ansible-lint

feat(lint): add spectral for api contract validation (openapi/asyncapi)
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, actionlint, ansible-lint

feat(lint): add sqlfluff for sql script formatting and linting
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, actionlint, ansible-lint

feat(lint): add kube-linter and tflint for cloud native iac validation
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, actionlint, ansible-lint

feat(lint): enforce conventional commits via commitlint
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .pre-commit-config.yaml
  commitlint.config.js
Due: yamllint, markdownlint-cli2, prettier, eslint, ansible-lint

feat(lint): add polyglot backend support for .net, ruby, and php in triple guarantee
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, actionlint, ansible-lint

fix(lint): exclude dependency directories from linter paths
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, prettier, actionlint, ansible-lint

fix(ci): group file extensions in find conditions to resolve shellcheck sc2146
  .github/workflows/lint.yml
Due: yamllint, prettier, actionlint, ansible-lint

fix(lint): add sqlfluff and asyncapi to cspell dictionary
  .cspell.json
Due: prettier

feat(ci): enforce conventional commits via remote commitlint step
  .github/workflows/lint.yml
Due: yamllint, prettier, actionlint, ansible-lint

feat(ci): add lychee broken link checker to validation pipeline
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
Due: yamllint, markdownlint-cli2, prettier, actionlint, ansible-lint

feat(ci): add stylelint as the absolute defense for stylesheet logic
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, actionlint, ansible-lint

feat(ci): add taplo as the definitive toml formatter in triple guarantee
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, actionlint, ansible-lint

feat(ci): integrate semgrep for lightweight sast vulnerability scanning
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
Due: yamllint, markdownlint-cli2, prettier, actionlint, ansible-lint

feat(ci): shift semgrep security scanning left into pre-commit pipeline
  .pre-commit-config.yaml
Due: yamllint, prettier, ansible-lint

feat(ci): enforce semantic pull request titles
  .github/workflows/pr-title.yml
Due: yamllint, prettier, actionlint, ansible-lint

feat(ci): add checkmake to lint makefiles for legacy configuration integrity
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, actionlint, ansible-lint

feat(ci): add aqua trivy scanner for offline dependency and container vulnerability analysis
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
Due: yamllint, markdownlint-cli2, prettier, actionlint, ansible-lint

docs(ai): integrate checkmake and semantic pr instructions into ai guidelines
  .agent/rules/09-ai-interaction.md
Due: markdownlint-cli2

fix(init): restore lychee, trivy, and checkmake to homebrew and scoop installation arrays
  .agent/workflows/snowdreamtech.init.md
Due: markdownlint-cli2

fix(init): synchronize macports dependencies to match homebrew and ensure local linting parity
  .agent/workflows/snowdreamtech.init.md
Due: markdownlint-cli2

fix(ci): correct pr-title.yml syntax to pass yamllint thresholds
  .github/workflows/pr-title.yml
Due: yamllint, prettier, actionlint, ansible-lint

fix(ci): add fallback versions for github api curl commands to prevent rate limit failures
  .github/workflows/lint.yml
Due: yamllint, prettier, actionlint, ansible-lint

style(ci): align bash blocks in lint.yml to satisfy editorconfig-checker indentation constraints
  .github/workflows/lint.yml
Due: yamllint, prettier, actionlint, ansible-lint

feat(ci): shift lychee link auditing left into pre-commit pipeline
  .agent/rules/09-ai-interaction.md
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, ansible-lint

feat(ci): shift trivy sca vulnerability scanning left into pre-commit pipeline
  .pre-commit-config.yaml
Due: yamllint, prettier, ansible-lint

feat(ci): shift powershell script analyzer left into pre-commit pipeline
  .pre-commit-config.yaml
Due: yamllint, prettier, ansible-lint

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  markdownlint-cli2: any of: \.(md|markdown|mdown)$
  prettier: any of: \.json$, \.(yaml|yml)$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  actionlint: any of: ^\.github/workflows/.*\.yml$
  ansible-lint: any of: \.(yml|yaml)$
  hadolint: any of: Dockerfile
