Repository snowdreamtech/template: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, markdownlint-cli2, prettier, golangci-lint, cargo-fmt, cargo-clippy, sqlfluff-lint, sqlfluff-fix, swiftformat, swiftlint, kube-linter, tflint, ktlint, google-java-format, spectral, taplo, actionlint, ansible-lint, hadolint

yamllint:
  name: yamllint
  language: system
  entry: yamllint
  args:
  - --config-file
  - .yamllint.yml

markdownlint-cli2:
  name: markdownlint-cli2
  language: system
  entry: markdownlint-cli2
  args:
  - --fix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

golangci-lint:
  name: golangci-lint
  language: system
  entry: golangci-lint
  args:
  - run
  - --fix
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  language: system
  entry: cargo fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  language: system
  entry: cargo clippy --fix --allow-dirty --allow-staged
  pass_filenames: false

sqlfluff-lint:
  name: sqlfluff lint
  language: system
  entry: sqlfluff lint --dialect postgres

sqlfluff-fix:
  name: sqlfluff fix
  language: system
  entry: sqlfluff fix --dialect postgres --force

swiftformat:
  name: swiftformat
  language: system
  entry: swiftformat

swiftlint:
  name: swiftlint
  language: system
  entry: swiftlint --fix
  pass_filenames: false

kube-linter:
  name: kube-linter
  language: system
  entry: kube-linter lint
  pass_filenames: true

tflint:
  name: tflint
  language: system
  entry: tflint
  pass_filenames: false

ktlint:
  name: ktlint
  language: system
  entry: ktlint --format
  pass_filenames: true

google-java-format:
  name: google-java-format
  language: system
  entry: google-java-format --replace
  pass_filenames: true

spectral:
  name: spectral
  language: system
  entry: spectral lint
  pass_filenames: true

taplo:
  name: taplo
  language: system
  entry: npx @taplo/cli format

actionlint:
  name: actionlint
  language: system
  entry: actionlint
  pass_filenames: false

ansible-lint:
  name: ansible-lint
  language: system
  entry: ansible-lint
  pass_filenames: false

hadolint:
  name: hadolint
  language: system
  entry: hadolint

feat(ci): shift ansible-playbook syntax-check left into pre-commit pipeline
  .pre-commit-config.yaml
Due: yamllint, prettier, kube-linter, ansible-lint

docs(init): synchronize ai interaction rules and init script with phase 8 shift-left tooling
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
Due: markdownlint-cli2

fix(ci): correct checkmake repository url to prevent 404 and refine initial dependency map
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
Due: yamllint, markdownlint-cli2, prettier, kube-linter, actionlint, ansible-lint

chore(ci): sync config headers and pip tools (phase 8)
  .agent/workflows/snowdreamtech.init.md
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, kube-linter, actionlint, ansible-lint

chore(ci): sync config headers and pip tools (phase 8)
  .agent/workflows/snowdreamtech.init.md
  .cspell.json
  .github/workflows/lint.yml
Due: yamllint, markdownlint-cli2, prettier, kube-linter, actionlint, ansible-lint

style: adjust indentation in buildkitd.toml
  .cspell.json
  .github/buildkitd.toml
  .pre-commit-config.yaml
  .prettierignore
  eslint.config.mjs
Due: yamllint, prettier, kube-linter, taplo, ansible-lint

build: fix ci checkout and trivy configuration
  .github/workflows/lint.yml
Due: yamllint, prettier, kube-linter, actionlint, ansible-lint

build: fix trivy action inputs and use stable checkout
  .github/workflows/lint.yml
Due: yamllint, prettier, kube-linter, actionlint, ansible-lint

build: stabilize ci checkout version
  .github/workflows/lint.yml
Due: yamllint, prettier, kube-linter, actionlint, ansible-lint

build: upgrade actions/checkout to v6.0.2 and enable credential persistence
  .github/workflows/lint.yml
  .github/workflows/updater.yml
Due: yamllint, prettier, kube-linter, actionlint, ansible-lint

build: fix cspell false positives
  .cspell.json
Due: prettier

build: enforce strict ci and optimize lychee configuration
  .github/workflows/lint.yml
Due: yamllint, prettier, kube-linter, actionlint, ansible-lint

build: synchronize and unify exclusion patterns across all linting tools
  .ansible-lint
  .cspell.json
  .github/workflows/lint.yml
  .markdownlint-cli2.jsonc
  .pre-commit-config.yaml
  .prettierignore
  .yamllint.yml
  eslint.config.mjs
Due: yamllint, prettier, kube-linter, actionlint, ansible-lint

build: achieve absolute synchronization of linter exclusions across all tools
  .github/workflows/lint.yml
  .gitleaksignore
  .pre-commit-config.yaml
  .sqlfluffignore
  .stylelintignore
  ruff.toml
Due: yamllint, prettier, kube-linter, taplo, actionlint, ansible-lint

build: fix cspell false positives for new ignore files
  .cspell.json
Due: prettier

build: fix lychee pre-commit absolute path error and align exclusions
  .pre-commit-config.yaml
Due: yamllint, prettier, kube-linter, ansible-lint

build: optimize local trivy by focusing on misconfig and skipping db updates
  .pre-commit-config.yaml
Due: yamllint, prettier, kube-linter, ansible-lint

docs: codify linter exclusion standards into project rules
  .agent/rules/02-coding-style.md
Due: markdownlint-cli2

build: fix lychee exclusion flags and document performance audit results
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: yamllint, prettier, kube-linter, actionlint, ansible-lint

build: finalize triple guarantee standardization and performance optimization
  .agent/rules/02-coding-style.md
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, kube-linter, ansible-lint

build: remove lychee from local hooks and finalize CI-only policy
  .agent/rules/02-coding-style.md
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, kube-linter, ansible-lint

docs: formalize shift-left vs shift-right linter placement policy in rules
  .agent/rules/02-coding-style.md
Due: markdownlint-cli2

docs: mandate incremental local scope and full-repo CI scope in rules
  .agent/rules/02-coding-style.md
Due: markdownlint-cli2

chore: surgically prune local pre-commit hooks and fix yaml errors
  .pre-commit-config.yaml
Due: yamllint, prettier, kube-linter, ansible-lint

chore: synchronize linter pruning across init workflow and ai interaction rules
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .pre-commit-config.yaml
Due: yamllint, markdownlint-cli2, prettier, kube-linter, ansible-lint

chore: absolute synchronization of linter pruning across configs and docs
  .agent/rules/09-ai-interaction.md
Due: markdownlint-cli2

chore: correct hallucinated github action versions and optimize workflows
  .github/workflows/lint.yml
  .github/workflows/pr-title.yml
  .github/workflows/updater.yml
Due: yamllint, prettier, kube-linter, actionlint, ansible-lint

chore: correct hallucinated github action versions and use trivy-action@master
  .github/workflows/lint.yml
  .github/workflows/pr-title.yml
  .github/workflows/updater.yml
Due: yamllint, prettier, kube-linter, actionlint, ansible-lint

fix: replace broken trivy-action with direct binary install to avoid source checkout bug
  .github/workflows/lint.yml
Due: yamllint, prettier, kube-linter, actionlint, ansible-lint

fix: install trivy via apt repo (github releases temporarily unavailable)
  .github/workflows/lint.yml
Due: yamllint, prettier, kube-linter, actionlint, ansible-lint

fix: add dearmor and keyrings to cspell dictionary
  .cspell.json
Due: prettier

chore: remove cspell configuration and references
  .agent/rules/09-ai-interaction.md
  .agent/workflows/snowdreamtech.init.md
  .cspell.json
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  .vscode/settings.json
Due: yamllint, markdownlint-cli2, prettier, kube-linter, actionlint, ansible-lint

feat: Update numerous AI agent rules, prompts, and workflows, and add Prettier configuration.
  .prettierrc
  .vscode/settings.json
Due: prettier

chore: align markdownlint config with prettier to resolve conflicts
  .markdownlint-cli2.jsonc
  .markdownlint.json
Due: prettier

feat: set Ruff line length to 120
  ruff.toml
Due: taplo

refactor: refine markdownlint ignore patterns by removing generic `.*` and duplicate entries.
  .markdownlint-cli2.jsonc
Due: none

chore: ignore all dotfiles and dotfolders in Prettier.
  .prettierignore
Due: none

docs(git-rules): align commit message guidelines with @commitlint/config-conventional, extending subject limit to 100 characters and prohibiting trailing periods.
  .agent/rules/02-coding-style.md
  .agent/rules/07-git.md
Due: markdownlint-cli2

style: format .markdownlint-cli2.jsonc
  .markdownlint-cli2.jsonc
Due: none

docs: clarify commit message header length and body usage guidelines
  .agent/rules/02-coding-style.md
  .agent/rules/07-git.md
Due: markdownlint-cli2

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  markdownlint-cli2: any of: \.(md|markdown|mdown)$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  prettier: any of: \.json$, \.(yaml|yml)$, \.vue$, \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  golangci-lint: any of: \.go$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  cargo-fmt: any of: \.rs$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  cargo-clippy: any of: \.rs$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  sqlfluff-lint: any of: \.sql$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  sqlfluff-fix: any of: \.sql$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  swiftformat: any of: \.swift$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  swiftlint: any of: \.swift$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  kube-linter: any of: (?i).*\.(yaml|yml)$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  tflint: any of: \.tf$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  ktlint: any of: \.(kt|kts)$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  google-java-format: any of: \.java$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  spectral: any of: (?i)(openapi|swagger|asyncapi).*\.(json|yaml|yml)$ and \.json$, \.(yaml|yml)$ and not (^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/)
  taplo: any of: \.toml$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  actionlint: any of: ^\.github/workflows/.*\.yml$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  ansible-lint: any of: \.(yml|yaml)$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
  hadolint: any of: Dockerfile, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify/scripts)/
