Repository snowdreamtech/template: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofmt, yamllint, markdownlint-cli2, prettier, spectral, eslint, taplo, hadolint

Path conditions:
  gofmt: any of: \.go$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify)/
  yamllint: any of: \.(yaml|yml)$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify)/
  markdownlint-cli2: any of: \.(md|markdown|mdown)$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify)/
  prettier: any of: \.json$, \.(yaml|yml)$, \.vue$, \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify)/
  spectral: any of: (?i)(openapi|swagger|asyncapi).*\.(json|yaml|yml)$ and \.json$, \.(yaml|yml)$ and not (^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify)/)
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.jsx$, \.vue$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify)/
  taplo: any of: \.toml$, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify)/
  hadolint: any of: Dockerfile, but not: ^(\.git|node_modules|\.venv|venv|env|vendor|dist|build|out|target|\.next|\.nuxt|\.output|__pycache__|\.specify)/

fix(pre-commit): add shfmt -i 2 to enforce space indentation
  .pre-commit-config.yaml
Due: yamllint, prettier

chore: update pre-commit hooks configuration
  .pre-commit-config.yaml
Due: yamllint, prettier

docs: clarify commit message header length guidance and add commitlint troubleshooting section
  .agent/rules/07-git.md
Due: markdownlint-cli2

ci: replace manual Trivy installation and execution with `aquasecurity/trivy-action` for vulnerability scanning.
  .github/workflows/lint.yml
Due: yamllint, prettier

ci: update trivy action to 0.34.1 and expand severity
  .github/workflows/lint.yml
Due: yamllint, prettier

ci: fix trivy installation by pinning version and adding token
  .github/workflows/lint.yml
Due: yamllint, prettier

ci: Integrate Trivy SARIF output with GitHub Security tab and enforce failure on findings.
  .github/workflows/lint.yml
Due: yamllint, prettier

ci: fix trivy action input names for version and token
  .github/workflows/lint.yml
Due: yamllint, prettier

ci: add security-events write permission for sarif upload
  .github/workflows/lint.yml
Due: yamllint, prettier

ci: guard sarif upload with file existence check
  .github/workflows/lint.yml
Due: yamllint, prettier

ci: enrich codeql config with all project lint languages
  .github/codeql/codeql-config.yml
Due: yamllint, prettier

ci: comment out all codeql languages for selective activation
  .github/codeql/codeql-config.yml
Due: yamllint, prettier

feat: enable CodeQL analysis for GitHub Actions workflow files
  .github/codeql/codeql-config.yml
Due: yamllint, prettier

ci: add codeql advanced setup workflow to replace default setup
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: yamllint, prettier

docs: Update README with new features, SpecKit workflow details, and enhanced readability
  README.md
Due: markdownlint-cli2

docs: update README with new features, SpecKit workflow details, and enhanced readability
  README.md
Due: markdownlint-cli2

chore: add manual stage to commitlint for explicit validation
  .pre-commit-config.yaml
Due: yamllint, prettier

ci(lint): switch editorconfig-checker to official github action
  .github/workflows/lint.yml
Due: yamllint, prettier

ci(lint): modernization - migrate all possible linters to official actions
  .github/workflows/lint.yml
Due: yamllint, prettier

ci(lint): use only official actions and restore hardened manual steps for non-official tools
  .github/workflows/lint.yml
Due: yamllint, prettier

docs: add CI action selection rule to coding standards
  .agent/rules/02-coding-style.md
Due: markdownlint-cli2

ci(lint): revert gitleaks to manual installation duo to license requirement for organizations
  .agent/rules/02-coding-style.md
  .github/workflows/lint.yml
Due: yamllint, markdownlint-cli2, prettier

ci(lint): revert ansible-lint and ruff to manual setup in venv to avoid conflict
  .github/workflows/lint.yml
Due: yamllint, prettier

ci(lint): fix shellcheck warnings in golangci-lint step
  .github/workflows/lint.yml
Due: yamllint, prettier

build(commitlint): explicit configuration mapping to coding style
  commitlint.config.js
Due: prettier, eslint

chore(commitlint): translate custom rule comment to English
  commitlint.config.js
Due: prettier, eslint

build(commitlint): optimize configuration rules and custom plugin for best practices
  commitlint.config.js
Due: prettier, eslint

build(commitlint): completely rely on default type-enum rules
  commitlint.config.js
Due: prettier, eslint

ci(lint): update golangci-lint version to v1.64.6
  .github/workflows/lint.yml
Due: yamllint, prettier

docs(ci): explicitly document commit-msg hook installation in pre-commit config
  .pre-commit-config.yaml
Due: yamllint, prettier

docs(rules): advise against set -o pipefail on strict POSIX shells for Alpine/Crux compatibility
  .agent/rules/ansible.md
  .agent/rules/shell.md
Due: markdownlint-cli2

docs(rules): codify POSIX sh and Alpine pipefail compatibility rules for CI and hooks
  .agent/rules/github-actions.md
  .agent/rules/shell.md
Due: markdownlint-cli2

ci(release): simplify goreleaser config for source-only releases
  .github/workflows/goreleaser.yml
  .goreleaser.yaml
Due: yamllint, prettier

ci(release): refine changelog generation configuration with strict semantic grouping
  .goreleaser.yaml
Due: yamllint, prettier

ci: add issue templates and dependabot configurations
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/workflows/updater.yml
Due: yamllint, prettier

chore(main): release 1.0.0
  .release-please-manifest.json
  CHANGELOG.md
Due: markdownlint-cli2, prettier

docs: clean up broken and dead markdown links
  .kiro/task_system_assessment.md
  AGENTS.md
  GEMINI.md
  docs/reference/api-common.md
  docs/reference/tool-installation.md
Due: markdownlint-cli2

chore(main): release 0.14.0
  .release-please-manifest.json
  CHANGELOG.md
Due: markdownlint-cli2, prettier

chore(docs): explicitly add esbuild and vite to devDependencies for tracking
  docs/package-lock.json
  docs/package.json
Due: prettier
